body {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
/*	width: 50%;
*/	margin: 0 auto;
	min-width: 500px;
    overflow-x: hidden;
}
p {
	padding: 3px;
}

.align-center{
    text-align: center;
}

input[type=number], select {
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d9dbdc;
    border-radius: 0px;
    background-color: white;
    padding: 8px 14px 8px;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 6px;
}

input[type=button] {
    background-color: #03a196;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #04736b;
}

.active {color: #fff; background-color: #555;}

.content {
	 padding: 0 18px;
	 max-height: 0;
	 overflow: hidden;
	 transition: max-height 0.2s ease-out;
	 background-color: #f1f1f1;
}

#shrinkage-calculator.box, #percentCalc.box {
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgb(206, 206, 206);
}

/* ============================================ */
#percentCalc .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

#percentCalc .input-group.added {
    width: 100%;
    position: relative;
    display: table;
    border-collapse: separate;
}

#percentCalc .input-group input{
    padding: 8px 14px 8px;
    border: 1px solid #ccc;
    position: relative;
    z-index: 2;
    float: left;
    margin-bottom: 0;
    display: table-cell;
    width: 100%;
}

#percentCalc .input-group-addon {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;    
    padding: 8px 14px 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: none;
}

#percentCalc .selection {
    position: relative;
}

#unit-converter .optionList {
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#unit-converter .optionList > input {
    width: 100%;
    display: block;
    color: #333;
    margin: 0;
    text-align: left;
    padding: 3px;
    background-color: #fff;
}

#unit-converter .optionList > input:hover {
    background-color: #ddd; 
}

#unit-converter .optionList > input:focus{
    outline: none;
}

#unit-converter .optionList > input.active {
    background-color: #ccc; 
}

#unit-converter input[name=to-val]{
    background-color: #f0f0f0;
    cursor: default;
}

#unit-converter > .box {
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgb(206, 206, 206);
    z-index: 1;
}

#unit-converter > ul {
    list-style: none;
    z-index: 2;
    width: 100%;
    padding-inline-start: 0px;
    margin-block-end: -1px;
}

#unit-converter > ul > li:first-child{
    margin-left: 0px;
}

#unit-converter > ul > li {
    margin: 0 0 0 -6px;
    border: 1px solid rgb(206, 206, 206);
    background-color: rgb(224, 224, 224);
    color: #333;
	display: inline-block;
	padding: 8px 8px;
    cursor: pointer;
    font-weight: 600;
}

#unit-converter > ul > li.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#shrinkage-calculator > .result{
    margin-top: 10px;
    margin-bottom: 10px;
}

#unit-converter .result {
    margin-top: 1em;
    font-size: 1.1em;
    text-align: center;
}

@media only screen and (max-width: 600px){
	body{
		width: 100%;
		min-width: initial;
	}
}

/* ============================================================== */
#calculator input.button:focus,
#calculator input.window:focus {
	/*outline: 1px solid #000;*/
}

#calculator .btn {
	display: none;
}

/*#calculator input.memory {
	line-height: 2em;
	border: 1px solid #999;
	font-size: 100%;
	margin-top: 4px;
	width: 1em;
}
*/


#calculator input.window {
    width: 100vw;
    height: 25vw;
    padding-right: 5vw;
    padding-left: 5vw;
    line-height: 50%;
    border: 1px solid #999;
    font-size: 8vw;
    color: #000000;
    background-color: #ffffff;
    text-align: right;
}


#calculator input.button {
    width: 100%;
    padding: 0;
    height: 25vw;
    position: relative;
    line-height: 50%;
    text-align: center;
    color: #fff;
    background-color: #333;
    border: 1px solid #ccc;
    font-size: 5vw;
    margin: 0;
}

#calculator input.number {
    background-color: #f6f6f6;
    color: #000000;
    font-weight: bold;
}

#calculator input.operator {
    /* background-color: #F1C9C7; */
    background-color: #03a196;
    color: #000000;
    font-weight: bold;
}

#calculator input.button:hover {
	border: 1px solid #999;/*cursor:pointer;*/
}

#calculator input.button:active {
    background-color: #eee;/*cursor:pointer;*/
}

#calculatorBlock.box{
    padding: 20px;
    background-color: #fff;
    border: 1px solid rgb(206, 206, 206);
	text-align: center;
}
		
#calculatorWrap {
	width:100%;
}
